<app-header> </app-header>


    <div class="tab-content" id="myTabContent" style="margin-top: 45px; margin-left: 65px; text-align: center;">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(5, 126, 134); font-size: xx-large;"><b>Dobrodošli</b></div>
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(2, 65, 70); font-size: medium;">u online zubarsku ordinaciju. Ovde možete zakazati svoj termin kod zubara ili kupiti vaš omiljeni proizvod. </div>
      </div>
  
  

<app-footer></app-footer>